<h1>About</h1>

<p>Passwords are hard to remember. At least the good ones.</p>

<h2>Motivation</h2>

<p>In order to have an easy way to remember and recreate the passwords I use, I
  wrote <a href="http://github.com/kronn/to_pwd">to_pwd</a>. The "binary" is
  fine for cli-usage but not optimal for answering colleagues questions for
  passwords. <code>:-)</code></p>

<h2>Plans</h2>

<p>I plan to make several transformation algorithms available and maybe even
  user-contributed ones uploadable.</p>

<h2>Tech</h2>

<p>In no particular order:</p>

<ul>
  <li>Ruby 1.8.[67] <small>(1.9 quite possible but not tested)</small></li>
  <li>Sinatra 1.0</li>
  <li>git</li>
</ul>

<p>The following webservices provided some infrastructure to this:</p>

<ul>
  <li>GitHub</li>
  <li>Heroku</li>
</ul>
