      <h1>Password Generator</h1>
      <p>"Easy to remember phrase, word or sentence".to_pwd<br>
        =&gt; "<span class="result">Etrpwos</span>"<p>

      <form action="/transform" method="POST">
        <p><input type="text" name="plainpass" /> <input type="submit" value="transform" /></p>
      </form>

      <p>Pick your favorite word or sentence and convert it to a password which
        is more secure than the usual "hello" or "password"</p>
