<!doctype html>
<html>
  <head>
    <title>to_pwd</title>
    <link href="/stylesheets/screen.css" media="screen,projection" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="wrapper">
      <%= yield  %>
    </div>
  </body>
</html>
